{% extends "blog/base.html" %}
{% block content %}
    <h1>تابعنا</h1>
    <div>
        لتعلم كيفية عمل هذا الموقع، تابع الدروس على صفحة الفيسبوك
        <a class="nav-item nav-link"
           href="https://www.facebook.com/%D8%A7%D9%84%D8%A8%D8%B1%D9%85%D8%AC%D8%A9-%D9%84%D9%84%D8%AC%D9%85%D9%8A%D8%B9-Coding2All-101948059490113"
            target="_blank">Coding4All</a>
    </div>
    <div>
        كما بالامكان تنزيل تطبيق اندرويد، الذي يحتوي على مزايا اكثر.
        <a class="nav-item nav-link"
           href="https://play.google.com/store/apps/details?id=ac.mohammad.com.electricityconsumption&pli=1&fbclid=IwAR1YfRpnDdB4EHXgQO_dFOCWbYbZeQGtscMVGvNL0TwNWFcMQq4mVJHo0F8"
            target="_blank">Estihlaki</a>
    </div>
{% endblock content %}
