{% extends "blog/base.html" %}
{% load int2date %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.time|date:"F d, Y" }}</small>
      </div>
	  
      <div class="article-metadata">
         <small class="text-muted"><b>تاريخ القراءة السابقة: </b>{{ object.prevdateinmillisec|int2date  }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>القراءة السابقة: </b>{{ object.prevreading }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>تاريخ القراءة اللاحقة: </b>{{ object.nextdateinmillisec|int2date  }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>القراءة اللاحقة: </b>{{ object.nextreading }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>المبلغ: </b>{{ object.price }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>طريقة الاحتساب: </b>{{ object.calcstr }}</small>
      </div>
      <div class="btns">
		  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.no %}">تعديل</a>
		  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-create' %}">استخدم</a>
		  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.no %}">مسح</a>
	    </div>
    </div>
    
  </article>
{% endblock content %}
