{% extends "blog/base.html" %}
{% load int2date %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ object.time|date:"F d, Y" }}</small>
      </div>
	  
      <div class="article-metadata">
         <small class="text-muted"><b>Previous Reading Date: </b>{{ object.prevdateinmillisec|int2date  }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>Previous Reading: </b>{{ object.prevreading }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>Next Reading Date: </b>{{ object.nextdateinmillisec|int2date  }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>Next Reading: </b>{{ object.nextreading }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>Price: </b>{{ object.price }}</small>
      </div>
      <div class="article-metadata">
         <small class="text-muted"><b>Calc: </b>{{ object.calcstr }}</small>
      </div>
      <div>
		  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.no %}">Update</a>
		  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-create' %}">Use</a>
		  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.no %}">Delete</a>
	    </div>
    </div>
    
  </article>
{% endblock content %}
